body{
  background: #9B9B9B;
  color: white;

}
.location {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.location h2{
  width: 100%;
}
.location-items{
  margin: 10px ;
}
.location-items div{
  width: 300px;
  height: 150px;

}

header{

  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  height: 100px;
  align-items: center;
}
.menu{
  display: flex; 
  margin-top: 35px;
}
.menu a{
  font-size: 25px;
  text-transform: capitalize;
  margin: 0 5px;
  color: white;
  opacity: 0.85;
}
#logo{
  margin-left: 10px;
  width: 160px;
  height: 80px;
  background: url('../images/sunfashion.webp') center;
  background-size: 150%;
  border-radius: 5px; 
}


.featured_container{
  height: 800px;
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}

@media only screen and (min-width: 1000px){

  .featured_container{
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
  }

}
.featured_items {
  width: 200px;
  height: 250px;
  margin-top: 12px;
  overflow: hidden;
}
.featured_img{
  background: url('../images/glasses-thug-life-1024.png') 
  , linear-gradient(#9B9B9B, #82653E) ;
   /* background: linear-gradient(#9B9B9B, #82653E) url('https://cdn1.iconfinder.com/data/icons/everyday-objects-2/128/glasses-thug-life-1024.png'); */
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
}
.featured_text p{
  margin: 1px;
  text-transform: capitalize;
}
.experts_container :hover p{
  cursor: pointer;
}
.expert_avatar  {
  width: 240px;
  height: 300px;
  margin: 0 30px;
  background: url('../images/User-Avatar-in-Suit-PNG.png') center;
  background-size: 270px 300px;
  
}

.experts_item{
  position: relative;
  background: green;
  border: 1px transparent solid;
  border-radius: 5px;
  text-align: center;
  width: 180px;
  height: 30px;
  left: 60px;
  /* opacity: 0; */
}
.experts_item p {
  margin: 4px;
}
.experts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
