html, body {
    height: 100%;
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
  
  .box {
    flex-basis: 50%;
    height: 50%;
    box-sizing: border-box;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* text right left */
  
  .hello {
    margin: 100 75;
    font-family: 'calibri';
    font-weight: bold;
    font-size: 48px;
    color: #2BAE66;
    animation: rightLeft 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes rightLeft {
    /* Add stages below */
    30% {
      transform: translate(50px, 0px);
    }
    70% {
      transform: translate(-50px, 0px);
    }
  }
  
  body {
    background-color: #FCF6F5;
  }
  
  
  
  /* X/Y axis */
  
  .x-axis {
    /* add animation below */
    animation: rightLeft 2s;
    animation-iteration-count: infinite;
  }
  
  .y-axis {
    /* add animation below */
    animation: upDown 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes rightLeft {
    30% {
      transform: translate(50px, 0px);
    }
    70% {
      transform: translate(-50px, 0px);
    }
  }
  
  @keyframes upDown {
    30% {
      transform: translate(0px, -25px);
    }
    70% {
      transform: translate(0px, 25px);
    }
  }
  
  .text {
    margin: 50 75;
    font-family: 'calibri';
    font-weight: bold;
    font-size: 48px;
    color: #2BAE66;
  }
  
  
  /* squares mix of animation  */
  
  .square {
    float: left;
    margin: 10px 10px;
    width: 50px;
    height: 50px;
  }
  
  .square1 {
    background-color: #F7CED7FF;
    animation: downThenUp 2s linear 500ms forwards infinite;
  }
  
  .square2 {
    background-color: #F99FC9FF;
    animation: downThenUp 2s ease-in 100ms backwards infinite;
  }
  
  .square3 {
    background-color: #EF6079FF;
    animation: downThenUp 2s ease-out 300ms both infinite;
  }
  
  @keyframes downThenUp{
    0% {
      transform: translate(0px, 0px) rotate(150deg);
    }
    33% {
      transform: translate(0px, 100px) rotate(45deg);
    }
    66% {
      transform: translate(0px, -100px) rotate(90deg);
    }
    100% {
      transform: translate(0px, -5px) rotate(135deg)
    }
  }
  
  
  
  /* rotate words  */
  
  .word1 {
    color: #963CBDFF;
    height: 450px;
    animation: textRotate 8s 1s alternate;
  }
  
  .word2 {
    color: #FF6F61FF;
    height: 350px;
    animation: textRotate 8s .5s reverse;
  }
  
  .word3 {
    color: #C5299BFF;
    height: 250px;
    animation: textRotate 8s .1s alternate-reverse;
  }
  
  @keyframes textRotate{
    100% {
      transform: rotate(-180deg);
    }
  }
  
  .word {
    width: 400;
    /* position: absolute; */
    text-align: center;
    font-weight: bold;
    font-size: 24;
    /* bottom: 0; */
    transform-origin: center;
    transform: rotate(180deg);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }