body *{
  font-family: Helvetica;
  /* font-size: 22px; */
  color: seashell;
  opacity: 0.9;

  
}
body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
  background-color: #473516;
  max-width: 1200px;
}

header{
  justify-content: space-between;
  display: flex;
  position: fixed;
  align-items: center;
  height: 69px;
  top: 0;
  width: 100%;
  z-index: 1;
  background: #473516;
  opacity: 0.9;
  max-width: 1200px;
}

#logo {
  display: block;
  height: 50px;
  margin-left: 10px;
  opacity: 0.9;
}

.menu{
  display: flex;
  color: red;
  opacity: 0.9;
  width: 350px;
  justify-content: space-around;
  margin-right: 10px;
}
.menu a{
  color: seashell
}


.hero {
  justify-self: center;
  background: url('../img/img-mission-background.jpg') no-repeat;
  margin: 69px 50px;
  height: 700px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
}
.hero_text{
  text-align: center;
  width: 100%;
  background-color: #473516;
}

.featered_tea{
  text-align: center;
  
  
}

.featered_tea_flex_container{
  display: flex;
  max-width: 1000px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}
.featered_tea_flex_items img{
  box-sizing: border-box;
  width: 300px;
  height: 200px;
  margin: 10px 15px;
}
.featered_tea_flex_items h4{
  // margin: 0;
}

.locations {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  margin: 0 50px;
  background: url('../img/img-locations-background.jpg');
  text-align: center;

}
.locations h2{
  margin: 0;
  margin-top: 80px;
}
.locations_box{
  background: #473516;
  width: 300px;
  margin: 15px 20px;
}
.locations_container {
  box-sizing: border-box;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

footer{
  text-align: center;
}
.contact-us{
  margin-top: 10px;
  height: 200px;
}
#copyright{
  float: left;
  margin-left: 20px; 
}



