/*
font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Code Pro', monospace;
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins&family=Source+Code+Pro&display=swap');

/*Main*/
.container {
  border: 1px solid black;
  margin: 25px auto;
  padding: 10px;
}

/*Colors*/

.colors p {
  
   display: inline-block;
   padding: 30px 65px;
   width: 100px;
   
   line-height: 25px;
   text-align: center;
}
.blue {
  background-color: #2d5dcc;
  color: white;
}
.pink {
  background-color: #d957d9;
}
.green {
  background-color: #4fe0b0;
}
.biege {
  background-color: #efd9ca;
}

/*Fonts*/

.fonts p {
  display: inline-block;
  padding-right: 25px;
  line-height: 25px;
}
.font-name {
  text-decoration: underline;
  line-height: 35px;
}

.nunito {
  font-family: 'Nunito Sans', sans-serif;

}
.source {
font-family: 'Source Code Pro', monospace;
}
.poppins {
  font-family: 'Poppins', sans-serif;
}
.bold-state {
  font-weight: bold;
}
.italic-state {
  font-style: italic;
}

/* Text styles*/

.main {
  font-weight: 700;
  font-size: 26px;
  font-family: 'Nunito Sans', sans-serif;
  
}
.sub {
  font-weight: 500;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}
.par {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}



