body {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    display: block;
    width: 300px;
    padding: 31px 5px;
    border-radius: 5px;
    margin: 20% auto;
    background-color: orange;
    text-align: center;
    font-family: Helvetica;
    font-size: 32px;
    color: mintcream;
    /* transition MDN doc https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_transitions/Using_CSS_transitions */
    
    /*selecting property for transition rules which will be applyed*/
    
    transition-property: background-color; 
    
    /* time duration */
    /* Duration is specified in seconds or milliseconds, such as 3s, 0.75s, 500ms. 
    The default value is 0s, or instantaneous, as if there is no transition. */
    transition-duration: 750ms; 

    /* timing function */
    transition-timing-function: linear;

    /* transition delay */
    transition-delay: 0.4s;

    /* The properties must be specified in this order: 
    transition-property, transition-duration, transition-timing-function, transition-delay.
    
    transition: background-color, 750ms, linear, 0.4s;
    */
    
    /* To combine transitions, add a comma (,) before the semicolon (;) in your rule. 
    After the comma, use the same shorthand syntax. For example:

    transition: color 1s linear,
    font-size 750ms ease-in 100ms; 
    
    */

    /* all means every value that changes will be transitioned in the same way. 
    You can use all with the separate transition properties, or the shorthand syntax. 
    This allows you to describe the transition of many properties with a single line:

    transition: all 1.5s linear 0.5s;
     */
  }
  
  a:hover {
    background-color: limegreen;
  }
  